@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Leckerli+One&display=swap");
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}
h1,
h3,
h4 {
  font-family: "Leckerli One", cursive;
}

h2 {
  font-family: "Lato", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* width */
.AppContainer::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
}

.App h1 {
  color: white;
  font-size: 58px;
}
.App {
  height: 80vh;
  width: 500px;
  margin-top: 10px;
  text-align: center;
  max-width: 100vw;
}

.ButtonLogout {
  text-align: left;
  margin-left: 10px;
}

.ButtonLogout div {
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: fixed;
}

.AppContainer {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  scrollbar-color: rebeccapurple white;
  scrollbar-width: thin;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input {
  font-family: "Lato";
  font-size: 16px;
  background: -webkit-linear-gradient(white); /* Chrome 10-25, Safari 5.1-6 */
  background: white;
  border: none;
  width: 200px;
  padding: 10px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.input-Container {
  width: 100%;
  margin-bottom: 10px;
}

.buttons-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-signin button.signInBtn {
  width: 250px;
  height: 50px;
  border: none;
  background-color: #e94057;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 10px auto;
}

a {
  color: #e94057;
}

a:hover {
  color: #f27121;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Buttons-task {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40px;
}
.Buttons-task button,
.Buttons-task a {
  width: 100%;
  height: 33%;
  border: none;
  cursor: pointer;
}

.Buttons-task button.editBtn {
  height: 100%;
  background-color: #f27121;
  color: white;
}

.Buttons-task button.deleteBtn {
  background-color: #e94057;
  color: white;
}

.Buttons-task button.checkBtn {
  background-color: #8a2387;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
